/* .container {
    padding-top: 100px;
} */

.card {
    min-width: 10rem;
}


/* figure {
    background-color: blue;
} */

.card-img-top {
    width: 100px;
    height: 100px;
}


/* section h1 {
    font-size: 20px;
} */

ol li p {
    font-size: 14px;
    line-height: 1.9;
}

@media screen and (max-width: 768px) {
    ol li p {
        font-size: 12px;
        line-height: 2;
    }
    .col-6 {
        padding-left: 0;
    }
}

.progress-bar p {
    line-height: 1.5;
}