<h1> Skills </h1>
<div class="row">
    <div class="col-6">
        <ol>
            <li *ngFor="let skill of skills">
                <p>{{skill.skill?.name}}</p>
            </li>
        </ol>

    </div>
    <div class="col-6">
        <div *ngFor="let skill of skills" class="progress">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width.%': skill.value, 'height.px': 100, 'aria-valuenow': 70 }" aria-valuemin="0" aria-valuemax="100">
                <p>{{skill.value}}</p>
            </div>
        </div>
    </div>
</div>