<div class="container" style="padding-top: 100px;">
    <div class="row">
        <div class="col-6">
            <a href="#">
                <img src="../assets/images/theocarranza.jpg" class="center-block img-fluid my-3 rounded-circle">
                <h3 class="text-center">Théo Carranza</h3>
                <p class="text-center">Desenvolvedor Full Stack</p>
            </a>
        </div>
        <div class="col-6">
            <h2>Algumas palavras sobre mim</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel sagittis metus. Morbi blandit dui tempus pulvinar bibendum. Phasellus posuere tempor libero auctor tempus. Sed faucibus bibendum dolor eget semper. Integer non velit non sem posuere
                gravida. Curabitur justo turpis, mattis porttitor tincidunt ac, consectetur eu ligula. Mauris nec libero eu elit luctus placerat lacinia eu dui. Morbi molestie, nunc eu suscipit viverra, lectus erat facilisis tellus, luctus volutpat ligula
                erat quis nisl. In eget mi facilisis, accumsan neque eu, pellentesque ante. Ut dignissim interdum ex. Sed ultricies orci nec orci mollis, id mollis massa elementum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed magna
                neque, placerat eget velit non, consequat finibus magna. Nunc quis nisl quis nisi gravida rhoncus quis quis nisl. Aenean quam nisi, mollis tempor posuere eget, lacinia et eros. In imperdiet lacus molestie libero blandit ultrices.
            </p>
        </div>
    </div>
</div>